/**********************************/
/*            General             */
/**********************************/

html * {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--text-color: #ffffff;
	--background-color: #36373a;
	--primary-color: #F1F1F1;
	/* #1c55a6; */
	--secondary-color: #212224;
	/* #e0dad0; */
	--accent-color: #6dacfe;
	/* #2d7a2d; */
	
	--background-color-darker: var(--secondary-color);
	/* #212224; */
	--text-color-inverted: #000000;
	/* --accent-color-lighter: #64a564; */
	/*#44b844; */
	
	--svg-transparent-dark-color: #00000020;
	--svg-transparent-light-color: #ffffff20;
	--svg-selected-color: var(--accent-color);
	--svg-deletePoint-color: #c82e2e;
	--gui-color: var(--accent-color);
}

body {
	background-color: var(--background-color);
	margin: 0;
}

.not-selectable {
	/* Prevent text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div,
nav,
main {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	color: var(--text-color);
}

/**********************************/
/*             Header             */
/**********************************/

#header {
	height: 56px;
	padding: 0 16px;
	padding: 5px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: var(--background-color-darker);
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
}

#site-link {
	max-height: 50px;
	/* overflow: hidden; */
	white-space: nowrap;
}

#site-logo {
	pointer-events: none;
	height: 40px;
	width: 40px;
	/* padding: 5px; */
	margin-right: 10px;
	/* border: 0; */
	display: inline-flex;
	/* align-items: center; */
	/* justify-content: center; */
	/* position: relative; */
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
}

#site-span {
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none !important;
	font-size: 22px;
	color: var(--text-color);
	display: inline-block;
	font-weight: 400;
	margin: 0;
}

#github-link {
	color: var(--text-color);
	text-decoration: none !important;
	max-height: 50px;
	margin-left: 10px;
	overflow: hidden;
}


/**********************************/
/*            Toolbar             */
/**********************************/

.toolbar {
	/* overflow: hidden; */
	position: sticky;
	display: block;
	gap: 5px;
	top: 56px;
	box-sizing: border-box;
	width: 100%;
	height: fit-content;
	z-index: 10;
	background-color: var(--background-color);
	border: solid var(--background-color-darker);
	border-width: 0 0 3px 0;
	padding: 5px 20px;
}

/* Style the links inside the navigation bar */
/* .toolbar button { */
	/* float: left; */
	/* color: var(--primary-color);  */
	/* #f2f2f2; */
	/* text-align: center; */
	/* padding: 15px 15px; */
	/* font-size: 17px; */
	/* border: none; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* margin: auto; */
	/* box-sizing: content-box; */
	/* box-sizing: border-box; */
	/* height: 50px; */
/* } */

#downloadButton,
#downloadTikZ {
	background: var(--accent-color);
	color: var(--text-color-inverted);
	border: 3px solid var(--accent-color);
	border-radius: 6px;
	/* margin: 0 15px 0 0; */
	gap: 0;
	padding: 0 10px;
}

#downloadButton {
	margin-right: 5px;
}

#downloadButton:hover {
	/* background: var(--accent-color-lighter); */
	background: var(--primary-color);
	border-color: var(--primary-color);
}
	
#downloadButton:active {
	border-color: var(--primary-color);
}
/* 
.toolbar button {
	background: var(--accent-color);
	color: var(--text-color-inverted);
	border: 3px solid var(--accent-color);
} */

.vl {
	display: inline-flex;
	border-left: 3px solid var(--background-color-darker);
	vertical-align: top;
	height: 40px;
	margin: 0 10px;
}

/*      Custom radio buttons      */
.toolLabel {
	/* background: var(--secondary-color); */
	height: 40px;
	min-width: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	vertical-align: top;
	cursor: pointer;
	padding: 0;
	/* border: 2px solid lightgrey; */
	border: 3px solid var(--background-color);
	border-radius: 6px;
	/* transition: all 0.3s ease; */
	box-sizing: border-box;
	font-size: 20px;
	color: var(--text-color);
	/* var(--text-color-inverted); */
	margin: 0 2px;
}

/* .toolLabel span { */
	/* margin: 0 10px; */
	/* font-size: 20px; */
	/* color: var(--text-color-inverted); */
/* } */

.toolLabel:hover {
	border-color: var(--background-color-darker);
	background: var(--background-color-darker);
	/* transition: all 0s ease; */
}

input[type=radio]:checked + label {
	border-color: var(--accent-color);
	background: var(--background-color-darker);
	/* var(--primary-color); */
	color: var(--text-color);
	transition: all 0.3s ease;
}

input[type="radio"] {
	display: none;
}

.toolLabel > img {
	height: 25px;
}

input[type=number] {
	width: 60px;
	height: 18px;
	box-sizing: border-box;
	border-radius: 3px;
	border-width: 0;
	font-size: 15px;
	display: block;
}

td {
	box-sizing: border-box;
	min-width: 50px;
	height: 20px;
	padding: 1px;
	border-spacing: 0;
	border: 0;
	font-size: 15px;
}

tr {
	margin: 0;
	padding: 0px;
}

table {
	border-spacing: 0;
	padding: 0;
	/* margin: 0 5px; */
}


/**********************************/
/*            Content             */
/**********************************/

#content {
	padding: 20px;
	margin-top: calc(56px);
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	gap: 20px;
}




/**********************************/
/*       SVG (interactive)        */
/**********************************/

svg {
	border: 3px solid transparent;
	border-radius: 3px;
	max-height: max(calc(100vh - 150px),200px);
	/* width: min(calc(100%), 800px); */
	box-sizing: border-box;
}

.activeSVG {
	border: 3pt solid var(--accent-color);
}

.background {
	fill: var(--primary-color); /* #ffeeee; #f8f8f8; */
}

/* selection tool */
.selectRectangle {
	fill: var(--svg-transparent-dark-color);
	stroke: var(--svg-transparent-light-color);
	stroke-width: 1;
}

#controlPoint1,
#controlPoint2 {
	fill: var(--svg-transparent-dark-color);
	stroke: var(--gui-color);
	stroke-width: 1;
}

#controlPoint1:hover,
#controlPoint2:hover {
	fill: var(--svg-transparent-dark-color);
	stroke: var(--gui-color);
	stroke-width: 1;
}

#controlPoint1.selected,
#controlPoint2.selected {
	fill: var(--svg-transparent-dark-color);
	stroke: var(--gui-color);
	stroke-width: 1;
}

#controlPoint1Line,
#controlPoint2Line {
	stroke: var(--gui-color);
	stroke-width: 0.7;
	pointer-events: none;
	/* var(--svg-transparent-dark-color); */
}

#shadowPoint {
	fill: var(--svg-transparent-dark-color);
	/* stroke: var(--gui-color); */
	stroke-width: 1;
	pointer-events: none;
}

#shadowLine {
	stroke: var(--svg-transparent-dark-color);
	stroke-width: 1.5;
	pointer-events: none;
}

.point.selected {
	fill: var(--svg-selected-color);
}

.point.draggable:hover {
	/* fill: none; */
	stroke: var(--svg-transparent-dark-color);
	stroke-width: 2pt;
	/* stroke-dasharray: 2,2; */
	/* stroke-linejoin: round; */
	paint-order: stroke;
	/* outline: 1pt dashed #00000030; */
}

.point.highlight,
.label.highlight {
	fill: var(--svg-deletePoint-color) !important;
}

.line.highlight,
.curve.highlight {
	stroke: var(--svg-deletePoint-color) !important;
}

/* .line.draggable:hover {
	outline: 1pt solid var(--svg-transparent-dark-color);
} */

.line.selected {
	stroke: var(--svg-selected-color);
}

.curve:hover {
	stroke-width: 3;
}

@font-face {
    font-family: "Computer Modern Unicode";
    src: url(fonts/cm-unicode-0.7.0/cmunrm.ttf);
}

.label {
	user-select: none;
	font-family: "Computer Modern Unicode", Times, serif;
	/* pointer-events: all; */
}

.label:hover {
	/* fill: green; */
	text-decoration: underline;
}

.label.selected {
	fill: var(--svg-selected-color);
}


