
/**********************************/
/*     To be included in SVG      */
/**********************************/

.background {
	fill: #ffffff;
	fill-opacity: 0;
}

.gui {
	opacity: 0;
}

.line {
	stroke: #000000;
}

.point {
	fill: #000000;
}


